﻿@{
    ViewBag.Title = "Airline Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form ng-controller="airline.confirmreturnstep1.controller" data-ng-init="Init()" class="form-horizontal">
    <section class="container body-content">
        <div class="wizard">
            <a><span class="badge">1</span> Search</a>
            <a><span class="badge">2</span> Choose Departure Flights</a>
            <a class="current"><span class="badge badge-inverse">3</span> Choose Return Flights</a>
            <a><span class="badge">4</span> Confirmation</a>
            <a><span class="badge">5</span> Passengers</a>
            <a><span class="badge">6</span> Payment</a>
        </div>
        <br />
        <hr />
        <div class="container">
            <div class="col-sm-1"></div>
            <div><h3>Departure Flight Information</h3></div>
            <hr />
            <label class="col-sm-2">Flight:</label>
            <div class="col-sm-8">
                <input disabled readonly="readonly" class="form-control color-red" type="text" ng-model="Model.FlightCode" name="FlightCode">

            </div>
            <br />
            <br />
            <label class="col-sm-2">Depart:</label>
            <div class="col-sm-8">
                <input disabled readonly="readonly" class="form-control text-uppercase" type="text" ng-model="Model.From" name="From">
            </div>
            <br />
            <br />
            <label class="col-sm-2">Arrive:</label>
            <div class="col-sm-6">
                <input disabled readonly="readonly" class="form-control text-uppercase" type="text" ng-model="Model.To" name="To">
            </div>
            <br />
            <br />
            <label class="col-sm-2">Date:</label>
            <div class="col-sm-6">
                <input disabled readonly="readonly" class="form-control text-uppercase" type="text" ng-model="Model.Date" name="Date">
            </div>
            <br />
            <br />
            <label class="col-sm-2">Time:</label>
            <div class="col-sm-6">
                <input disabled readonly="readonly" class="form-control text-uppercase" type="text" ng-model="Model.Time" name="Time">
            </div>
            <br />
            <br />
            <label class="col-sm-2">Class:</label>
            <div class="col-sm-6">
                <input disabled readonly="readonly" class="form-control text-uppercase" type="text" ng-model="Model.Class" name="Class">
            </div>
            <br />
            <br />
            <label class="col-sm-2">Cost:</label>
            <div class="col-sm-6">
                <input disabled readonly="readonly" class="form-control text-uppercase" type="text" ng-model="Model.Cost" name="Cost">
            </div>
            <br />
            <br />
            <label class="col-sm-2">Price:</label>
            <div class="col-sm-6">
                <input disabled readonly="readonly" class="form-control text-uppercase" type="text" ng-model="Model.Price|number" name="Price">
            </div>
            <br />
            <hr />
            <br />
        </div>

        <hr />
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><h3>Return Flight Options</h3></div>
        <hr />
        <div class="dataTables_wrapper no-footer" id="datatable-editable_wrapper">
            <div class="table-responsive">

                <br />
                <table aria-describedby="datatable-editable_info" role="grid" class="table table-bordered table-striped mb-none dataTable no-footer" id="datatable-editable">
                    <thead>
                        <tr role="row">
                            <th style="width: 100px;">Flight</th>
                            <th style="width: 100px;">Depart</th>
                            <th style="width: 100px;">Arrive</th>
                            <th style="width: 100px;">Date</th>
                            <th style="width: 100px;">Time</th>
                            <th style="width: 100px;">Class</th>
                            <th style="width: 100px;">Cost</th>
                            <th style="width: 100px;">NumberOfSeats</th>
                            <th style="width: 100px;">Price</th>
                            <th style="width: 80px;">Choose Your Ticket</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="i in flightListReturn">
                        <tr role="row" class="gradeA odd">
                            <td ng-bind="i.FlightCode"></td>
                            <td ng-bind="i.From"></td>
                            <td ng-bind="i.To"></td>
                            <td ng-bind="i.Date"></td>
                            <td ng-bind="i.Time"></td>
                            <td ng-bind="i.Class"></td>
                            <td ng-bind="i.Cost"></td>
                            <td ng-bind="i.NumberOfSeats"></td>
                            <td ng-bind="i.Price|number"></td>
                            <td>
                                <input type="button" class="myButtonBook" ng-hide="i.NumberOfSeats == 0" value="Book" ng-click="AddFlightDetails(i)" />
                                <div ng-show="i.NumberOfSeats == 0">Sold out</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</form>
@section Scripts {
    <script>
        var _flyingFrom =@Html.Raw(Json.Encode(ViewData["FLYINGFROM"]));
        var _flyingTo =@Html.Raw(Json.Encode(ViewData["FLYINGTO"]));
        var _flyingDate =@Html.Raw(Json.Encode(ViewData["FLYINGDATE"]));
        var _flyingClass =@Html.Raw(Json.Encode(ViewData["FLYINGCLASS"]));
        var _flyingCost =@Html.Raw(Json.Encode(ViewData["FLYINGCOST"]));
        var _flyingDateReturn =@Html.Raw(Json.Encode(ViewData["FLYINGDATERETURN"]));
        var _flightCode =@Html.Raw(Json.Encode(ViewData["FLIGHTCODE"]));
    </script>
    @Scripts.Render("~/Scripts/AirlineReservation/Controller/airline.confirmreturnstep1.controller.js")
}